{% extends 'base.html' %} {% block content %}
<!--  -->
<div class="row mb-2">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- Sold Client -->
        <ul class="list-group list-group-flush">
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="me-auto">
              <span
                data-bs-toggle="collapse"
                href="#soldClient"
                role="button"
                aria-expanded="false"
                aria-controls="soldClient"
              >
                (+)
              </span>
              Soldes clients
            </div>
            <span class="badge bg-primary rounded-pill">
              {{get_sold_clients()}}
              <small>TND</small>
            </span>
          </li>
          <ul class="collapse list-group list-group-flush" id="soldClient">
            {% for company in companies | selectattr('customer', "equalto",True)
            %}
            <li
              class="list-group-item d-flex justify-content-between align-items-start list-group-item-info"
            >
              <div class="me-auto ps-3">{{company.name}}</div>
              <span class="badge bg-primary rounded-pill">
                {{get_sold_clients(company.id)}}
                <small>TND</small>
              </span>
            </li>
            {% endfor %}
          </ul>

          <!-- port Cheque -->

          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="me-auto">
              <span
                data-bs-toggle="collapse"
                href="#portCheque"
                role="button"
                aria-expanded="false"
                aria-controls="portCheque"
              >
                (+)
              </span>
              Solde Portefeuille Cheques
            </div>
            <span class="badge bg-primary rounded-pill">
              {{get_sold_portefeuille(pay_methode=2)}}
              <small>TND</small>
            </span>
          </li>

          <ul class="collapse list-group list-group-flush" id="portCheque">
            {% for company in companies | selectattr('customer', "equalto",True)
            %}
            <li
              class="list-group-item d-flex justify-content-between align-items-start list-group-item-info"
            >
              <div class="me-auto ps-3">{{company.name}}</div>
              <span class="badge bg-primary rounded-pill">
                {{get_sold_portefeuille(company.id,pay_methode=2)}}
                <small>TND</small>
              </span>
            </li>
            {% endfor %}
          </ul>

          <!-- port Traites -->

          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="me-auto">
              <span
                data-bs-toggle="collapse"
                href="#portTraite"
                role="button"
                aria-expanded="false"
                aria-controls="portTraite"
              >
                (+)
              </span>
              Solde Portefeuille Traites
            </div>
            <span class="badge bg-primary rounded-pill">
              {{get_sold_portefeuille(pay_methode=3)}}
              <small>TND</small>
            </span>
          </li>
          <ul class="collapse list-group list-group-flush" id="portTraite">
            {% for company in companies | selectattr('customer',
            "equalto",True)%}
            <li
              class="list-group-item d-flex justify-content-between align-items-start list-group-item-info"
            >
              <div class="me-auto ps-3">{{company.name}}</div>
              <span class="badge bg-primary rounded-pill">
                {{get_sold_portefeuille(company.id,pay_methode=3)}}
                <small>TND</small>
              </span>
            </li>
            {% endfor %}
          </ul>

          <!-- Impayee Cheques  -->

          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="me-auto">
              <span
                data-bs-toggle="collapse"
                href="#impCheque"
                role="button"
                aria-expanded="false"
                aria-controls="impCheque"
              >
                (+)
              </span>
              Solde Impayees Cheques
            </div>
            <span class="badge bg-primary rounded-pill">
              {{get_impayees(pay_methode=2)}}
              <small>TND</small>
            </span>
          </li>

          <ul class="collapse list-group list-group-flush" id="impCheque">
            {% for company in companies | selectattr('customer', "equalto",True)
            %}
            <li
              class="list-group-item d-flex justify-content-between align-items-start list-group-item-info"
            >
              <div class="me-auto ps-3">{{company.name}}</div>
              <span class="badge bg-primary rounded-pill">
                ----
                <small>TND</small>
              </span>
            </li>
            {% endfor %}
          </ul>

          <!-- Impayee Traites -->

          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="me-auto">
              <span
                data-bs-toggle="collapse"
                href="#impTraite"
                role="button"
                aria-expanded="false"
                aria-controls="impTraite"
              >
                (+)
              </span>
              Solde Impayees Traites
            </div>
            <span class="badge bg-primary rounded-pill">
              {{get_impayees(pay_methode=3)}}
              <small>TND</small>
            </span>
          </li>

          <ul class="collapse list-group list-group-flush" id="impTraite">
            {% for company in companies | selectattr('customer', "equalto",True)
            %}
            <li
              class="list-group-item d-flex justify-content-between align-items-start list-group-item-info"
            >
              <div class="me-auto ps-3">{{company.name}}</div>
              <span class="badge bg-primary rounded-pill">
                ----
                <small>TND</small>
              </span>
            </li>
            {% endfor %}
          </ul>

          <!-- Solde TPE -->

          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="me-auto">Solde TPE</div>
            <span class="badge bg-primary rounded-pill">
              {{get_sold_portefeuille(pay_methode=5)}}
              <small>TND</small>
            </span>
          </li>

          <!-- Ticket Resto  -->

          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="me-auto">Solde Ticket Resto</div>
            <span class="badge bg-primary rounded-pill">
              {{get_sold_portefeuille(pay_methode=6)}}
              <small>TND</small>
            </span>
          </li>

          <!-- Banque  -->

          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="me-auto">Solde Bancaire</div>
            <span class="badge bg-primary rounded-pill">
              {{get_banque()}}
              <small>TND</small>
            </span>
          </li>

          <!-- Caisse -->

          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="me-auto">Solde Caisse</div>
            {% if get_caisse() < 0 %}
            <i class="bi bi-exclamation-triangle text-danger me-1"></i>
            {% endif %}
            <!--  -->
            <span class="badge bg-primary rounded-pill">
              {{get_caisse()}}
              <small>TND</small>
            </span>
          </li>

          <!-- STock  -->
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="me-auto">Stock en cours</div>
            <span class="badge bg-primary rounded-pill">
              {{get_stock()}}
              <small>TND</small>
            </span>
          </li>

          <!-- Eng Cheque -->

          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="me-auto">
              <span
                data-bs-toggle="collapse"
                href="#engCheque"
                role="button"
                aria-expanded="false"
                aria-controls="engCheque"
              >
                (+)
              </span>
              Engagements (Cheque)
            </div>
            <span class="badge bg-danger rounded-pill">
              {{get_liabilites_per_cost(pay_methode=2) +
              get_liabilites_per_company(pay_methode=2)}}
              <small>TND</small>
            </span>
          </li>

          <ul class="collapse list-group list-group-flush" id="engCheque">
            <li
              class="list-group-item d-flex justify-content-between align-items-start list-group-item-danger"
            >
              <div class="me-auto ps-3">Charges en general</div>
              <span class="badge bg-danger rounded-pill">
                {{ get_liabilites_per_cost(pay_methode=2) }}
                <small>TND</small>
              </span>
            </li>
            {% for company in companies | selectattr('supplier', "equalto",True)
            %}
            <li
              class="list-group-item d-flex justify-content-between align-items-start list-group-item-danger"
            >
              <div class="me-auto ps-3">{{company.name}}</div>
              <span class="badge bg-danger rounded-pill">
                {{ get_liabilites_per_company(company=company.id,pay_methode=2)
                }}
                <small>TND</small>
              </span>
            </li>
            {% endfor %}
          </ul>

          <!-- Eng Traites -->

          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="me-auto">
              <span
                data-bs-toggle="collapse"
                href="#engTraite"
                role="button"
                aria-expanded="false"
                aria-controls="engTraite"
              >
                (+)
              </span>
              Engagements (Traite)
            </div>
            <span class="badge bg-danger rounded-pill">
              {{get_costs(pay_methode=3) + get_purchasing(pay_methode=3)}}
              <small>TND</small>
            </span>
          </li>

          <ul class="collapse list-group list-group-flush" id="engTraite">
            <li
              class="list-group-item d-flex justify-content-between align-items-start list-group-item-danger"
            >
              <div class="me-auto ps-3">Charges en general</div>
              <span class="badge bg-danger rounded-pill">
                {{ get_costs(pay_methode=3) }}
                <small>TND</small>
              </span>
            </li>

            {% for company in companies | selectattr('supplier', "equalto",True)
            %}
            <li
              class="list-group-item d-flex justify-content-between align-items-start list-group-item-danger"
            >
              <div class="me-auto ps-3">{{company.name}}</div>
              <span class="badge bg-danger rounded-pill">
                {{ get_purchasing(company=company.id,pay_methode=3) }}
                <small>TND</small>
              </span>
            </li>
            {% endfor %}
          </ul>

          <!-- Eng TPE -->

          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="me-auto">
              <span
                data-bs-toggle="collapse"
                href="#engTPE"
                role="button"
                aria-expanded="false"
                aria-controls="engTPE"
              >
                (+)
              </span>
              Engagements (TPE)
            </div>
            <span class="badge bg-danger rounded-pill">
              {{get_costs(pay_methode=5) + get_purchasing(pay_methode=5)}}
              <small>TND</small>
            </span>
          </li>

          <ul class="collapse list-group list-group-flush" id="engTPE">
            <li
              class="list-group-item d-flex justify-content-between align-items-start list-group-item-danger"
            >
              <div class="me-auto ps-3">Charges en general</div>
              <span class="badge bg-danger rounded-pill">
                {{ get_costs(pay_methode=5) }}
                <small>TND</small>
              </span>
            </li>
            {% for company in companies | selectattr('supplier', "equalto",True)
            %}
            <li
              class="list-group-item d-flex justify-content-between align-items-start list-group-item-danger"
            >
              <div class="me-auto ps-3">{{company.name}}</div>
              <span class="badge bg-danger rounded-pill">
                {{ get_purchasing(company=company.id,pay_methode=5) }}
                <small>TND</small>
              </span>
            </li>
            {% endfor %}
          </ul>

          <!-- Dettes -->

          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="me-auto">
              <span
                data-bs-toggle="collapse"
                href="#dettes"
                role="button"
                aria-expanded="false"
                aria-controls="dettes"
              >
                (+)
              </span>
              Dettes
            </div>
            <span class="badge bg-danger rounded-pill">
              {{(get_costs(pay_methode=4) + get_purchasing(pay_methode=4
              ))|round(3)}}
              <small>TND</small>
            </span>
          </li>

          <ul class="collapse list-group list-group-flush" id="dettes">
            <li
              class="list-group-item d-flex justify-content-between align-items-start list-group-item-danger"
            >
              <div class="me-auto ps-3">Charges en general</div>
              <span class="badge bg-danger rounded-pill">
                {{ get_costs(pay_methode=4) }}
                <small>TND</small>
              </span>
            </li>
            {% for company in companies | selectattr('supplier',
            "equalto",True)%}
            <li
              class="list-group-item d-flex justify-content-between align-items-start list-group-item-danger"
            >
              <div class="me-auto ps-3">{{company.name}}</div>
              <span class="badge bg-danger rounded-pill">
                {{ get_purchasing(company=company.id,pay_methode=4) }}
                <small>TND</small>
              </span>
            </li>
            {% endfor %}
          </ul>
          <!--  -->
        </ul>
        <ul class="list-group list-group-flush">
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="me-auto">Situation Economique de l'entreprise</div>
            {% if get_economic_situation() < 0 %}
            <i class="bi bi-exclamation-triangle text-danger me-1"></i>
            {% endif %}
            <span class="badge bg-success rounded-pill">
              {{ get_economic_situation() }}
              <small>TND</small>
            </span>
          </li>

          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="me-auto">Capacite financiere</div>
            {% if get_financial_capacity() < 0 %}
            <i class="bi bi-exclamation-triangle text-danger me-1"></i>
            {% endif %}
            <!--  -->
            <span class="badge bg-success rounded-pill">
              {{ get_financial_capacity() }}
              <small>TND</small>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
