.no-more-tables td .dropdown {
  /* Behave like a "row" */
  margin-top: -5px;
}
.no-more-tables thead.no-border > tr > th {
  border-bottom: 2px solid #e9e9e9b9 !important;
}

.no-more-tables tbody.search > tr > th {
  border-bottom: 2px solid #e9e9e9b9 !important;
}

@media only screen and (max-width: 576px) {
  /* Force table to not be like tables anymore */

  .no-more-tables .table > :not(:first-child) {
    border: none;
  }

  .no-more-tables table,
  .no-more-tables thead,
  .no-more-tables tbody,
  .no-more-tables th,
  .no-more-tables td,
  .no-more-tables tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .no-more-tables thead tr {
    display: none;
  }

  .no-more-tables tr {
    border-bottom: 1px solid rgb(177, 177, 177);
  }

  .no-more-tables tbody.search tr {
    border-bottom: 2px solid rgb(43, 43, 43);
  }
  .no-more-tables tr:last-child {
    border-bottom: none;
  }

  .no-more-tables td {
    /* Behave like a "row" */
    border: none;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }

  .no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 7px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  /*
Label the data
*/
  .no-more-tables td:before {
    content: attr(data-title);
  }
}
