{% extends 'base.html' %} {% block content %}

<!--  -->
<div class="row mb-2">
  <div class="col">
    <button
      class="btn btn-success float-end"
      data-bs-toggle="modal"
      data-bs-target="#addSalesModal"
    >
      + Ajouter
    </button>
  </div>
</div>
<div class="row mb-3">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Rapprochements</h5>
      </div>

      <div class="card-body">
        <div class="no-more-tables" style="min-height: 300px">
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col" class="col-1">Nom</th>
                <th scope="col" class="col-2">Type</th>
                <th scope="col" class="col-2">Mode de Payment</th>
                <th scope="col" class="col-3">Montant</th>
                <th scope="col" class="col-3">Ajouté le</th>
                <th scope="col" class="col-1"></th>
              </tr>
            </thead>

            <tbody class="search">
              <form action="{{ url_for('.index') }}" method="get">
                <div class="col-12">
                  <label for="recipient-name" class="col-form-label"
                    >Filter par:</label
                  >
                  <div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio"
                      name="s_categorie" id="all_rb" value="0"
                      onclick="this.form.submit();" {%if s_categorie == 0 %}
                      checked {% endif %} />
                      <label class="form-check-label" for="customer_rb">
                        Tous
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio"
                      name="s_categorie" id="customer_rb2" value="1"
                      onclick="this.form.submit();" {%if s_categorie == 1 %}
                      checked {% endif %} />
                      <label class="form-check-label" for="customer_rb">
                        Client
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio"
                      name="s_categorie" id="supplier_rb2" value="2"
                      onclick="this.form.submit();" {%if s_categorie == 2 %}
                      checked {% endif %} />
                      <label class="form-check-label" for="supplier_rb">
                        Fournisseur
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio"
                      name="s_categorie" id="cost_rb2" value="3"
                      onclick="this.form.submit();" {% if s_categorie == 3 %}
                      checked {% endif %} />
                      <label class="form-check-label" for="cost_rb">
                        Charge
                      </label>
                    </div>
                  </div>
                </div>
                <tr>
                  <td data-title="Client" id="for_name">
                    <select
                      name="s_company"
                      id="customer2"
                      class="form-select form-select-sm"
                    >
                      <option value="-1">---</option>
                      {% for company in companies | rejectattr("supplier",
                      "equalto", True) %}
                      <!--  -->
                      {% if company.id == s_company %}
                      <option value=" {{company.id}} " selected>
                        {{company.name}}
                      </option>
                      {% else%}
                      <option value=" {{company.id}} ">{{company.name}}</option>
                      {% endif%} {% endfor %}
                    </select>

                    <select
                      name="s_company"
                      id="supplier2"
                      class="form-select form-select-sm"
                    >
                      <option value="-1">---</option>
                      {% for company in companies | rejectattr("customer",
                      "equalto", True) %}
                      <!--  -->
                      {% if company.id == s_company %}
                      <option value=" {{company.id}} " selected>
                        {{company.name}}
                      </option>
                      {% else%}
                      <option value=" {{company.id}} ">{{company.name}}</option>
                      {% endif%} {% endfor %}
                    </select>

                    <select
                      name="s_cost"
                      id="cost2"
                      class="form-select form-select-sm"
                    >
                      <option value="-1">---</option>
                      {% for cosdef in cosdefs %}
                      <!--  -->
                      {% if cosdef.id == s_company %}
                      <option value=" {{cosdef.id}} " selected>
                        {{cosdef.name}}
                      </option>
                      {% else%}
                      <option value=" {{cosdef.id}} ">{{cosdef.name}}</option>
                      {% endif%} {% endfor %}
                    </select>
                  </td>
                  <td data-title="Type">
                    <select
                      name="s_type"
                      id="s_type"
                      class="form-select form-select-sm"
                    >
                      <option value="1">Encaissement</option>
                      <option value="2">Decaissement</option>
                    </select>
                  </td>

                  <td data-title="Mode de Payment">
                    <select
                      name="s_paymentmethod"
                      id="s_paymentmethod"
                      class="form-select form-select-sm"
                    >
                      <option value="">---</option>
                      {% for method in paymentmethod %}
                      <!--  -->
                      {% if method.id == s_paymentmethod %}
                      <option value=" {{method.id}} " selected>
                        {{method.name}}
                      </option>
                      {% else%}
                      <option value=" {{method.id}} ">{{method.name}}</option>
                      {% endif%} {% endfor %}
                    </select>
                  </td>

                  <td data-title="Date">
                    <div class="input-group input-group-sm d-none d-md-flex">
                      <select
                        name="s_op"
                        id="s_op"
                        class="form-select form-select-sm"
                      >
                        <option value="">---</option>
                        {%if s_op == "big" %}
                        <option value="big" selected>></option>
                        {% else %}
                        <option value="big">></option>
                        {% endif %} {%if s_op == "small" %}
                        <option value="small" selected><</option>
                        {% else %}
                        <option value="small"><</option>
                        {% endif %} {%if s_op == "equal" %}
                        <option value="equal" selected>=</option>
                        {% else %}
                        <option value="equal">=</option>
                        {% endif %}
                      </select>
                      <input
                        name="s_amount"
                        id="s_amount"
                        type="number"
                        min="0"
                        step=".001"
                        class="form-control"
                        style="width: 40%"
                        value="{{s_amount}}"
                      />
                      <span class="input-group-text d-none d-md-flex">TND</span>
                    </div>
                  </td>

                  <td data-title="">
                    <div class="row">
                      <div class="col-6">
                        <input
                          name="s_start_date"
                          id="s_start_date"
                          placeholder="du"
                          type="text"
                          onfocus="(this.type='date')"
                          onblur="(this.type= this.value ? 'date' : 'text')"
                          class="form-control form-control-sm"
                          max="{{today()}}"
                          placeholder="heute"
                          value="{{s_start_date}}"
                        />
                      </div>

                      <div class="col-6">
                        <input
                          name="s_end_date"
                          id="s_end_date"
                          placeholder="au"
                          type="text"
                          onfocus="(this.type='date')"
                          onblur="(this.type= this.value ? 'date' : 'text')"
                          class="form-control form-control-sm"
                          max="{{today()}}"
                          value="{{s_end_date}}"
                        />
                      </div>
                    </div>
                  </td>

                  <td>
                    <button class="btn btn-info btn-sm">recherche</button>
                  </td>
                </tr>
              </form>
            </tbody>

            <tbody>
              {% for reconciliation in reconciliations %}
              <tr>
                <td data-title="Nom">
                  <div class="d-flex justify-content-between w-100">
                    {% if reconciliation.company_id %}
                    {{reconciliation.company.name}} {% else %}
                    {{reconciliation.cost.name}} {% endif %}
                    <div class="d-block d-sm-none">
                      <div class="dropdown">
                        <a
                          class="btn btn-link dropdown float-end text-decoration-none"
                          type="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="bi bi-sliders"></i>
                        </a>

                        <ul
                          class="dropdown-menu dropdown-menu-end"
                          aria-labelledby="dropdownMenuButton2"
                        >
                          <li>
                            <a
                              class="dropdown-item"
                              href="/reconciliations/{{reconciliation.id}}"
                              ><i class="bi bi-pencil-square"></i> Modiffier</a
                            >
                          </li>

                          <li>
                            <a
                              class="dropdown-item"
                              onclick="sendMailClicked('{{reconciliation.id}}')"
                            >
                              <i class="bi bi-trash text-danger"></i>
                              Supprimer
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </td>
                <td data-title="Type">
                  {% if reconciliation.cashing ==True %} Encaissement {% else %}
                  Decaissement {% endif %}
                </td>
                <td data-title="Mode de Payment">
                  {{reconciliation.paymentmethod.name}}
                  <!--  -->

                  {% if reconciliation.paymentmethod_id in [2,3] %}

                  <small style="font-size: 10px"
                    >Nummero: <b> {{reconciliation.document_number | upper}}</b>
                  </small>
                  ,
                  <small class="text-end" style="font-size: 10px"
                    >Échéance le: <b> {{reconciliation.due_date}}</b>
                  </small>
                  ,
                  <!--  -->
                  {% if reconciliation.document_filename != "" %}

                  <a
                    href="/uploads/{{reconciliation.document_filename}}"
                    target="_blank"
                  >
                    <i class="bi bi-file-earmark-arrow-down"></i
                  ></a>
                  {% endif %}
                  <!--  -->
                  {% endif %}
                </td>
                <td data-title="Montant">
                  {{reconciliation.amount}} <small>TND</small>
                </td>
                <td data-title="Ajouté le">{{reconciliation.date}}</td>
                <td>
                  <div class="d-none d-sm-inline">
                    <div class="dropdown">
                      <a
                        class="btn btn-link dropdown float-end text-decoration-none"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i class="bi bi-sliders"></i>
                      </a>

                      <ul
                        class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="dropdownMenuButton2"
                      >
                        <li>
                          <a
                            class="dropdown-item"
                            href="/reconciliations/{{reconciliation.id}}"
                            ><i class="bi bi-pencil-square"></i> Modiffier</a
                          >
                        </li>

                        <li>
                          <a
                            class="dropdown-item"
                            onclick="sendMailClicked('{{reconciliation.id}}')"
                          >
                            <i class="bi bi-trash text-danger"></i>
                            Supprimer
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
              <tr>
                <td colspan="3" data-title="&#8721;">
                  <span class="d-none d-sm-block me-1 text-end"
                    ><b>&#8721;:</b></span
                  >
                  <span class="d-block d-sm-none">
                    {{reconciliations| sum(attribute='amount') | round(3)}}
                    <small>TND</small>
                  </span>
                </td>
                <td class="d-none d-sm-block">
                  {{reconciliations| sum(attribute='amount') | round(3)}}
                  <small>TND</small>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

<!-- Modal -->
{% block modal %}
<div
  class="modal fade"
  id="addSalesModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <form action="/reconciliations" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Ajouter un nouveau Rapprochement
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <div class="row">
              <div class="col-6">
                <label for="recipient-name" class="col-form-label"
                  >Type de Rapprochement:</label
                >

                <select
                  name="cashing"
                  class="form-select form-select-sm"
                  aria-label="Default select example"
                >
                  <option value="1">Encaissement</option>
                  <option value="0">Decaissement</option>
                </select>
              </div>
              <div class="col-6">
                <label for="recipient-name" class="col-form-label">Pour:</label>
                <div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="categorie"
                      id="customer_rb"
                      value="1"
                      onclick="handleClick(this.value);"
                      checked
                    />
                    <label class="form-check-label" for="customer_rb">
                      Client
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="categorie"
                      id="supplier_rb"
                      value="2"
                      onclick="handleClick(this.value);"
                    />
                    <label class="form-check-label" for="supplier_rb">
                      Fournisseur
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="categorie"
                      id="cost_rb"
                      value="3"
                      onclick="handleClick(this.value);"
                    />
                    <label class="form-check-label" for="cost_rb">
                      Charge
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <label for="recipient-name" class="col-form-label"
                  >Mode de payment:</label
                >
                <select
                  name="payment_id"
                  id="payment_id"
                  class="form-select form-select-sm"
                  aria-label="Default select example"
                  onchange="ChangePaymentmethod()"
                >
                  {% for payment in paymentmethod %}
                  <option value="{{payment.id}}">{{payment.name}}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="col-6">
                <label for="recipient-name" class="col-form-label">Nom:</label>
                <select
                  name="company_id"
                  id="customer"
                  class="form-select form-select-sm select-nom"
                  aria-label="Default select example"
                >
                  {% for companie in companies |
                  selectattr("customer","equalto",True) %}
                  <option value="{{companie.id}}">{{companie.name}}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="col-6" hidden>
                <label for="recipient-name" class="col-form-label">Nom:</label>
                <select
                  name="company_id"
                  id="supplier"
                  class="form-select form-select-sm select-nom"
                  aria-label="Default select example"
                  disabled
                >
                  {% for companie in companies |
                  selectattr("supplier","equalto",True) %}
                  <option value="{{companie.id}}">{{companie.name}}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="col-6" hidden>
                <label for="recipient-name" class="col-form-label">Nom:</label>
                <select
                  name="cost_id"
                  id="cost"
                  class="form-select form-select-sm select-nom"
                  aria-label="Default select example"
                  disabled
                >
                  {% for cosdef in cosdefs %}
                  <option value="{{cosdef.id}}">{{cosdef.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <label for="recipient-name" class="col-form-label">Date:</label>
                <div class="input-group mb-3">
                  <input
                    name="date"
                    type="date"
                    class="form-control form-control-sm"
                    id="date"
                    max="{{today()}}"
                    value="{{today()}}"
                    required
                  />
                </div>
              </div>
              <div class="col-6">
                <label for="amount" class="col-form-label">Montant:</label>
                <div class="input-group input-group-sm mb-3">
                  <input
                    name="amount"
                    type="number"
                    min="0"
                    step="0.001"
                    class="form-control border-primary"
                    id="amount"
                    required
                  />
                  <span class="input-group-text">TND</span>
                </div>
              </div>
            </div>
            <!-- document -->
            {% include 'document.html' %}
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea
              name="comment"
              class="form-control"
              id="message-text"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Fermer
          </button>
          <button type="submit" class="btn btn-primary">Sauvegarder</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- remove modal -->
{% with url="/reconciliations/remove", header="le Rapprochement" %} {% include
'remove_modal.html' %} {% endwith %} {% endblock %} {% block scripts %}

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    document.getElementById("customer_rb").checked = true;
    document.getElementById("supplier_rb").checked = false;
    document.getElementById("cost_rb").checked = false;
    handleClick("1");
    handleClick2("{{s_categorie}}");
  });

  function handleClick(value) {
    var customer = document.getElementById("customer");
    var supplier = document.getElementById("supplier");
    var cost = document.getElementById("cost");

    switch (value) {
      case "1":
        customer.disabled = false;
        customer.parentElement.hidden = false;

        supplier.disabled = true;
        supplier.parentElement.hidden = true;

        cost.disabled = true;
        cost.parentElement.hidden = true;

        break;

      case "2":
        customer.disabled = true;
        customer.parentElement.hidden = true;

        supplier.disabled = false;
        supplier.parentElement.hidden = false;

        cost.disabled = true;
        cost.parentElement.hidden = true;

        break;

      case "3":
        customer.disabled = true;
        customer.parentElement.hidden = true;

        supplier.disabled = true;
        supplier.parentElement.hidden = true;

        cost.disabled = false;
        cost.parentElement.hidden = false;
        break;
    }
  }

  function handleClick2(value) {
    var customer = document.getElementById("customer2");
    var supplier = document.getElementById("supplier2");
    var cost = document.getElementById("cost2");
    var for_name = document.getElementById("for_name");

    switch (value) {
      case "0":
        customer.disabled = true;
        customer.hidden = true;

        supplier.disabled = true;
        supplier.hidden = true;

        cost.disabled = true;
        cost.hidden = true;
        for_name.dataset.title = "";

        break;

      case "1":
        customer.disabled = false;
        customer.hidden = false;

        supplier.disabled = true;
        supplier.hidden = true;

        cost.disabled = true;
        cost.hidden = true;
        for_name.dataset.title = "Client";
        break;

      case "2":
        customer.disabled = true;
        customer.hidden = true;

        supplier.disabled = false;
        supplier.hidden = false;

        cost.disabled = true;
        cost.hidden = true;

        for_name.dataset.title = "Fournisseur";

        break;

      case "3":
        customer.disabled = true;
        customer.hidden = true;

        supplier.disabled = true;
        supplier.hidden = true;

        cost.disabled = false;
        cost.hidden = false;

        for_name.dataset.title = "Charge";
        break;
    }
  }
</script>

{% endblock %}
