{% extends 'base.html' %} {% block content %}

<!--  -->
<div class="row mb-2">
  <div class="col">
    <button
      class="btn btn-success float-end"
      data-bs-toggle="modal"
      data-bs-target="#addSalesModal"
    >
      + Ajouter
    </button>
  </div>
</div>
<div class="row mb-3">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Chiffre d'affaire</h5>
      </div>

      <div class="card-body">
        <div class="table-responsive" style="min-height: 300px">
          <table class="table table-sm table-striped">
            <thead>
              <tr>
                <!-- <th scope="col">Categorie (a suprimee)</th> -->
                <th scope="col">Client</th>
                <th scope="col">Mode de Payment</th>
                <th scope="col">Montant</th>
                <th scope="col">Ajouté le</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for sale in sales %}
              <tr>
                <td>{{sale.company.name}}</td>
                <td>
                  {{sale.paymentmethod.name}}
                  <!--  -->
                  {% if sale.paymentmethod_id in [2,3] %}
                  <br />
                  <small style="font-size: 10px"
                    >Nummero: <b> {{sale.document_number | upper}}</b>
                  </small>
                  ,
                  <small class="text-end" style="font-size: 10px"
                    >Échéance le: <b> {{sale.due_date}}</b>
                  </small>
                  ,
                  <!--  -->
                  {% if sale.document_filename != "" %}

                  <a href="/uploads/{{sale.document_filename}}" target="_blank">
                    <i class="bi bi-file-earmark-arrow-down"></i
                  ></a>
                  {% endif %}
                  <!--  -->
                  {% endif %}
                </td>
                <td>{{sale.amount}} <small>TND</small></td>
                <td>{{sale.date}}</td>
                <td>
                  <div class="dropdown me-2">
                    <a
                      class="btn btn-link dropdown float-end text-decoration-none"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      ...
                    </a>

                    <ul
                      class="dropdown-menu dropdown-menu-end"
                      aria-labelledby="dropdownMenuButton2"
                    >
                      <li>
                        <a class="dropdown-item" href="/sales/{{sale.id}}"
                          ><i class="bi bi-pencil-square"></i> Modiffier</a
                        >
                      </li>

                      <li>
                        <a
                          class="dropdown-item"
                          onclick="sendMailClicked('{{sale.id}}')"
                        >
                          <i class="bi bi-trash text-danger"></i>
                          Supprimer
                        </a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              {% endfor %}
              <tr>
                <td colspan="2"></td>
                <td>Somme:</td>
                <td colspan="2">
                  {{sales| sum(attribute='amount') | round(3)}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="addSalesModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="/sales" method="post" enctype="multipart/form-data">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Ajouter un nouveau Chiffre d'affaire
          </h5>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <div class="row">
              <div class="col-6">
                <label for="recipient-name" class="col-form-label"
                  >Client:</label
                >
                <select
                  name="company_id"
                  class="form-select form-select-sm"
                  aria-label="Default select example"
                  required
                >
                  {% for company in companies %}
                  <option value="{{company.id}}">{{company.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-6">
                <label for="recipient-name" class="col-form-label"
                  >Mode de payment:</label
                >
                <select
                  name="payment_id"
                  id="payment_id"
                  class="form-select form-select-sm"
                  aria-label="Default select example"
                  onchange="ChangePaymentmethod()"
                >
                  {% for payment in paymentmethod %}
                  <option value="{{payment.id}}">{{payment.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <label for="recipient-name" class="col-form-label">Date:</label>
                <div class="input-group">
                  <input
                    name="date"
                    type="date"
                    class="form-control form-control-sm"
                    id="date"
                    max="{{today()}}"
                    value="{{today()}}"
                    required
                  />
                </div>
              </div>

              <div class="col-6">
                <label for="amount" class="col-form-label">Montant:</label>
                <div class="input-group input-group-sm mb-3">
                  <input
                    name="amount"
                    type="number"
                    min="0"
                    step="0.001"
                    class="form-control border-primary"
                    id="amount"
                    required
                    autofocus
                  />
                  <span class="input-group-text">TND</span>
                </div>
              </div>
            </div>

            <!-- document -->
            {% include 'document.html' %}
          </div>

          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea
              name="comment"
              class="form-control"
              id="message-text"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Fermer
          </button>
          <button type="submit" class="btn btn-primary">Sauvegarder</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- remove modal -->
{% with url="/sales/remove" %} {% include 'remove_modal.html' %} {% endwith %}

<script>
  function sendMailClicked(e) {
    var theValue = e;
    var modalContainer = document.getElementById("removeModal");
    var form = document.getElementById("removeForm");
    var myModal = new bootstrap.Modal(modalContainer, { backdrop: "static" });
    form.action = form.action + "/" + e;

    myModal.show();
  }
</script>

{% endblock %}
