{% extends 'base.html' %} {% block content %}

<div class="card">
  <div class="card-header">Modiffier un paiement d'une charges</div>
  <form
    action="/payments/costs/{{payment.id}}"
    method="post"
    enctype="multipart/form-data"
    onsubmit="formsubmit.disabled = true; return true;"
  >
    <div class="card-body">
      <div class="mb-3">
        <div class="row">
          <div class="col-6">
            <label for="recipient-name" class="col-form-label">Nom:</label>
            <select
              name="cost_id"
              class="form-select form-select-sm"
              aria-label="Default select example"
              required
            >
              {% for cost_def in cost_defs %}
              <!--  -->
              {% if payment.cost_id == cost_def.id %}
              <option value="{{cost_def.id}}" selected>
                {{cost_def.name}}
              </option>
              {% else %}
              <option value="{{cost_def.id}}">{{cost_def.name}}</option>
              {% endif %}
              <!--  -->
              {% endfor %}
            </select>
          </div>
          <div class="col-6">
            <label for="recipient-name" class="col-form-label"
              >Mode de payment:</label
            >
            <select
              name="payment_id"
              id="payment_id"
              class="form-select form-select-sm"
              aria-label="Default select example"
              onchange="ChangePaymentmethod()"
            >
              {% for paymentmethod in paymentmethod %}
              <!--  -->

              {% if payment.paymentmethod_id == paymentmethod.id %}
              <option value="{{paymentmethod.id}}" selected>
                {{paymentmethod.name}}
              </option>
              {% else %}
              <option value="{{paymentmethod.id}}">
                {{paymentmethod.name}}
              </option>
              {% endif %}
              <!--  -->
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-6 col-sm-6">
            <label for="recipient-name" class="col-form-label">Date:</label>
            <div class="input-group">
              <input
                name="date"
                type="date"
                class="form-control form-control-sm"
                id="date"
                max="{{today()}}"
                value="{{payment.date}}"
                required
              />
            </div>
          </div>

          <div class="col-6 col-sm-6">
            <label for="amount" class="col-form-label">Montant:</label>
            <div class="input-group input-group-sm mb-3">
              <input
                name="amount"
                type="number"
                min="0"
                step="0.001"
                class="form-control border-primary"
                id="amount"
                value="{{payment.amount}}"
                required
                autofocus
              />
              <span class="input-group-text">TND</span>
            </div>
          </div>
        </div>

        <!-- document -->
        {% with document_number=payment.document_number,
        due_date=payment.due_date,min_date=payment.date %} {% include
        'document.html' %} {% endwith %}
      </div>

      <div class="mb-3">
        <label for="message-text" class="col-form-label">Message:</label>
        <textarea
          name="comment"
          class="form-control"
          id="message-text"
          value="{{payment.comment}}"
        ></textarea>
      </div>

      <div class="text-center mb-2">
        <a class="btn btn-secondary" href="/payments/costs">Fermer</a>
        <button name="formsubmit" type="submit" class="btn btn-primary">
          Sauvegarder
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
