{% extends 'base.html' %} {% block content %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="home-tab"
      data-bs-toggle="tab"
      data-bs-target="#home"
      type="button"
      role="tab"
      aria-controls="home"
      aria-selected="true"
    >
      Paiements Fournisseur
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="profile-tab"
      data-bs-toggle="tab"
      data-bs-target="#profile"
      type="button"
      role="tab"
      aria-controls="profile"
      aria-selected="false"
    >
      Paiements Charge
    </button>
  </li>
</ul>

<!--  -->
<div class="tab-content">
  <div
    class="tab-pane fade show active"
    id="home"
    role="tabpanel"
    aria-labelledby="home-tab"
  >
    <div class="row">
      <div class="col my-2">
        <button
          class="btn btn-success float-end"
          data-bs-toggle="modal"
          data-bs-target="#addPaymentSupplierModal"
        >
          + Ajouter
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Fournisseurs</h5>
          </div>

          <div class="card-body">
            <div class="no-more-tables" style="min-height: 300px">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Mode de Payment</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Ajouté le</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for payment in payments | rejectattr('company_id', "none")
                  %}
                  <tr>
                    <td data-title="Fournisseur">
                      <div class="d-flex justify-content-between w-100">
                        {{payment.company.name}}
                        <div class="d-block d-sm-none">
                          <div class="dropdown">
                            <a
                              class="btn btn-link dropdown float-end text-decoration-none"
                              type="button"
                              data-bs-toggle="dropdown"
                              aria-expanded="false"
                            >
                              <i class="bi bi-sliders"></i>
                            </a>

                            <ul
                              class="dropdown-menu dropdown-menu-end"
                              aria-labelledby="dropdownMenuButton2"
                            >
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="/payments/{{payment.id}}"
                                  ><i class="bi bi-pencil-square"></i>
                                  Modiffier</a
                                >
                              </li>

                              <li>
                                <a
                                  class="dropdown-item"
                                  onclick="sendMailClicked('{{payment.id}}')"
                                >
                                  <i class="bi bi-trash text-danger"></i>
                                  Supprimer
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td data-title="Mode de Payment">
                      {{payment.paymentmethod.name}}
                      <!--  -->
                      {% if payment.paymentmethod_id in [2,3] %}
                      <br />
                      <small style="font-size: 10px"
                        >Nummero: <b> {{payment.document_number | upper}}</b>
                      </small>
                      ,
                      <small class="text-end" style="font-size: 10px"
                        >Échéance le: <b> {{payment.due_date}}</b>
                      </small>
                      ,
                      <!--  -->
                      {% if payment.document_filename != "" %}

                      <a
                        href="/uploads/{{payment.document_filename}}"
                        target="_blank"
                      >
                        <i class="bi bi-file-earmark-arrow-down"></i
                      ></a>
                      {% endif %}
                      <!--  -->

                      {% endif %}
                    </td>
                    <td data-title="Montant">
                      {{payment.amount}} <small>TND</small>
                    </td>
                    <td data-title="Ajouté le">{{payment.date}}</td>
                    <td>
                      <div class="d-none d-sm-block">
                        <div class="dropdown">
                          <a
                            class="btn btn-link dropdown float-end text-decoration-none"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                          >
                            <i class="bi bi-sliders"></i>
                          </a>

                          <ul
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="dropdownMenuButton2"
                          >
                            <li>
                              <a
                                class="dropdown-item"
                                href="/payments/{{payment.id}}"
                                ><i class="bi bi-pencil-square"></i>
                                Modiffier</a
                              >
                            </li>

                            <li>
                              <a
                                class="dropdown-item"
                                onclick="sendMailClicked('{{payment.id}}')"
                              >
                                <i class="bi bi-trash text-danger"></i>
                                Supprimer
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="tab-pane fade"
    id="profile"
    role="tabpanel"
    aria-labelledby="profile-tab"
  >
    <div class="row">
      <div class="col my-2">
        <button
          class="btn btn-success float-end"
          data-bs-toggle="modal"
          data-bs-target="#addPaymentCostModal"
        >
          + Ajouter
        </button>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Charges</h5>
      </div>

      <div class="card-body">
        <div class="no-more-tables" style="min-height: 300px">
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Nom</th>
                <th scope="col">Mode de Payment</th>
                <th scope="col">Montant</th>
                <th scope="col">Ajouté le</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for payment in payments | rejectattr('cost_id', "none") %}
              <tr>
                <td data-title="Charge">
                  <div class="d-flex justify-content-between w-100">
                    {{payment.costsdef.name}}
                    <div class="d-block d-sm-none">
                      <div class="dropdown">
                        <a
                          class="btn btn-link dropdown float-end text-decoration-none"
                          type="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="bi bi-sliders"></i>
                        </a>

                        <ul
                          class="dropdown-menu dropdown-menu-end"
                          aria-labelledby="dropdownMenuButton2"
                        >
                          <li>
                            <a
                              class="dropdown-item"
                              href="/payments/{{payment.id}}"
                              ><i class="bi bi-pencil-square"></i> Modiffier</a
                            >
                          </li>

                          <li>
                            <a
                              class="dropdown-item"
                              onclick="sendMailClicked('{{payment.id}}')"
                            >
                              <i class="bi bi-trash text-danger"></i>
                              Supprimer
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </td>
                <td data-title="Mode de Payment">
                  {{payment.paymentmethod.name}}
                  <!--  -->
                  {% if payment.paymentmethod_id in [2,3] %}
                  <br />
                  <small style="font-size: 10px"
                    >Nummero: <b> {{payment.document_number | upper}}</b>
                  </small>
                  ,
                  <small class="text-end" style="font-size: 10px"
                    >Échéance le: <b> {{payment.due_date}}</b>
                  </small>

                  ,
                  <!--  -->
                  {% if payment.document_filename != "" %}

                  <a
                    href="/uploads/{{payment.document_filename}}"
                    target="_blank"
                  >
                    <i class="bi bi-file-earmark-arrow-down"></i
                  ></a>
                  {% endif %}
                  <!--  -->

                  {% endif %}
                </td>
                <td data-title="Montant">
                  {{payment.amount}} <small>TND</small>
                </td>
                <td data-title="Ajouté le">{{payment.date}}</td>
                <td>
                  <div class="d-none d-sm-inline">
                    <div class="dropdown">
                      <a
                        class="btn btn-link dropdown float-end text-decoration-none"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i class="bi bi-sliders"></i>
                      </a>

                      <ul
                        class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="dropdownMenuButton2"
                      >
                        <li>
                          <a
                            class="dropdown-item"
                            href="/payments/{{payment.id}}"
                            ><i class="bi bi-pencil-square"></i> Modiffier</a
                          >
                        </li>

                        <li>
                          <a
                            class="dropdown-item"
                            onclick="sendMailClicked('{{payment.id}}')"
                          >
                            <i class="bi bi-trash text-danger"></i>
                            Supprimer
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

<!-- Modal -->
{% block modal %}
<div
  class="modal fade"
  id="addPaymentSupplierModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="/payments" method="post" enctype="multipart/form-data">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Ajouter un nouveau Paiement Fournisseur
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <div class="row">
              <div class="col-6">
                <label for="recipient-name" class="col-form-label"
                  >Fournisseurs:</label
                >
                <select
                  name="company_id"
                  class="form-select form-select-sm"
                  aria-label="Default select example"
                >
                  {% for supplier in suppliers %}
                  <option value="{{supplier.id}}">{{supplier.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-6">
                <label for="recipient-name" class="col-form-label"
                  >Mode de payment:</label
                >
                <select
                  name="payment_id"
                  id="payment_id"
                  class="form-select form-select-sm"
                  aria-label="Default select example"
                  onchange="ChangePaymentmethod(this)"
                >
                  {% for payment in paymentmethod %}
                  <option value="{{payment.id}}">{{payment.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <label for="recipient-name" class="col-form-label">Date:</label>
                <div class="input-group mb-3">
                  <input
                    name="date"
                    type="date"
                    class="form-control form-control-sm"
                    id="date"
                    max="{{today()}}"
                    value="{{today()}}"
                    required
                  />
                </div>
              </div>
              <div class="col-6">
                <label for="amount" class="col-form-label">Montant:</label>
                <div class="input-group input-group-sm mb-3">
                  <input
                    name="amount"
                    type="number"
                    min="0"
                    step="0.001"
                    class="form-control border-primary"
                    id="amount"
                    required
                  />
                  <span class="input-group-text">TND</span>
                </div>
              </div>
            </div>

            <!-- document -->
            {% include 'document.html' %}
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea
              name="comment"
              class="form-control"
              id="message-text"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Fermer
          </button>
          <button type="submit" class="btn btn-primary">Sauvegarder</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="addPaymentCostModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="/payments" method="post" enctype="multipart/form-data">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Ajouter un nouveau Paiement Charge
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <div class="row">
              <div class="col-6">
                <label for="recipient-name" class="col-form-label"
                  >Charge:</label
                >
                <select
                  name="cost_id"
                  class="form-select form-select-sm"
                  aria-label="Default select example"
                >
                  {% for cost_def in cost_defs %}
                  <option value="{{cost_def.id}}">{{cost_def.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-6">
                <label for="recipient-name" class="col-form-label"
                  >Mode de payment:</label
                >
                <select
                  name="payment_id"
                  id="payment_id1"
                  class="form-select form-select-sm"
                  aria-label="Default select example"
                  onchange="ChangePaymentmethod1()"
                >
                  {% for payment in paymentmethod %}
                  <option value="{{payment.id}}">{{payment.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <label for="recipient-name" class="col-form-label">Date:</label>
                <div class="input-group mb-3">
                  <input
                    name="date"
                    type="date"
                    class="form-control form-control-sm"
                    id="date"
                    max="{{today()}}"
                    value="{{today()}}"
                    required
                  />
                </div>
              </div>
              <div class="col-6">
                <label for="amount" class="col-form-label">Montant:</label>
                <div class="input-group input-group-sm mb-3">
                  <input
                    name="amount"
                    type="number"
                    min="0"
                    step="0.001"
                    class="form-control border-primary"
                    id="amount1"
                    required
                  />
                  <span class="input-group-text">TND</span>
                </div>
              </div>
            </div>

            <!-- document1 -->
            <div id="document1">
              <div class="card">
                <div class="card-header bg-warning">Cheque/Traite</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">
                      <label for="recipient-name" class="col-form-label"
                        >Nummero:</label
                      >
                      <div class="input-group mb-3">
                        <input
                          name="document_number"
                          type="text"
                          class="form-control form-control-sm border-primary"
                          id="document_number1"
                          required
                          value=""
                          onkeypress="return onlyNumberKey1(event)"
                        />
                      </div>
                      <div
                        class="alert alert-danger visually-hidden mt-1"
                        id="alert1"
                        role="alert"
                      >
                        <small>Veuillez saisir uniquement des chiffres</small>
                      </div>
                    </div>
                    <div class="col-6">
                      <label for="recipient-name" class="col-form-label"
                        >Date d'échéance:</label
                      >
                      <div class="input-group mb-3">
                        <input
                          name="due_date"
                          type="date"
                          class="form-control form-control-sm border-primary"
                          id="due_date1"
                          min="{{today()}}"
                          required
                        />
                      </div>
                    </div>
                    <label for="recipient-name" class="col-form-label"
                      >Document:</label
                    >
                    <div class="input-group mb-3">
                      <input
                        name="foto"
                        type="file"
                        class="form-control form-control-sm"
                        id="foto"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea
              name="comment"
              class="form-control"
              id="message-text"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Fermer
          </button>
          <button type="submit" class="btn btn-primary">Sauvegarder</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
