{% extends 'base.html' %} {% block content %}

<!--  -->
<div class="row mb-2">
  <div class="col">
    <button
      class="btn btn-success float-end"
      data-bs-toggle="modal"
      data-bs-target="#addSalesModal"
    >
      + Ajouter
    </button>
  </div>
</div>
<div class="row mb-3">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Stock</h5>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm table-striped">
            <thead>
              <tr>
                <th scope="col">Ajouté le</th>
                <th scope="col">Valeur</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for stock in stocks %}
              <tr>
                <td>{{stock.date}}</td>
                <td>{{stock.amount}} <small>TND</small></td>

                <td>
                  <div class="dropdown me-2">
                    <a
                      class="btn btn-link dropdown float-end text-decoration-none"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      ...
                    </a>

                    <ul
                      class="dropdown-menu dropdown-menu-end"
                      aria-labelledby="dropdownMenuButton2"
                    >
                      <li><a class="dropdown-item" href="#">Afficher</a></li>
                      <li>
                        <a class="dropdown-item" href="#">My Companie 2</a>
                      </li>
                      <li><hr class="dropdown-divider" /></li>
                      <li>
                        <a class="dropdown-item" href="#"
                          >Ajouter une société</a
                        >
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="addSalesModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="/stocks" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Ajouter un nouveau Stock
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Valeur:</label>
            <div class="input-group mb-3">
              <input
                name="amount"
                type="number"
                min="0"
                class="form-control"
                id="recipient-name"
                required
              />
              <span class="input-group-text">TND</span>
            </div>

            <label for="recipient-name" class="col-form-label">Date:</label>
            <div class="input-group mb-3">
              <input
                name="date"
                type="date"
                class="form-control"
                id="date"
                max="{{today()}}"
                value="{{today()}}"
                required
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea
              name="comment"
              class="form-control"
              id="message-text"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Fermer
          </button>
          <button type="submit" class="btn btn-primary">Sauvegarder</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
