{% extends 'base.html' %} {% block content %}

<!--  -->
<div class="row mb-2">
  <div class="col">
    <button
      class="btn btn-success float-end"
      data-bs-toggle="modal"
      data-bs-target="#addSalesModal"
    >
      + Ajouter
    </button>
  </div>
</div>
<div class="row mb-3">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Stock</h5>
      </div>

      <div class="card-body">
        <div class="no-more-tables" style="min-height: 300px">
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Ajouté le</th>
                <th scope="col">Montant</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for stock in stocks %}
              <tr>
                <td data-title="Ajouté le">
                  <div class="d-flex justify-content-between w-100">
                    {{stock.date}}
                    <div class="d-block d-sm-none">
                      <div class="dropdown">
                        <a
                          class="btn btn-link dropdown float-end text-decoration-none"
                          type="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="bi bi-sliders"></i>
                        </a>

                        <ul
                          class="dropdown-menu dropdown-menu-end"
                          aria-labelledby="dropdownMenuButton2"
                        >
                          <li>
                            <a class="dropdown-item" href="/stocks/{{stock.id}}"
                              ><i class="bi bi-pencil-square"></i> Modiffier</a
                            >
                          </li>

                          <li>
                            <a
                              class="dropdown-item"
                              onclick="sendMailClicked('{{stock.id}}')"
                            >
                              <i class="bi bi-trash text-danger"></i>
                              Supprimer
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </td>
                <td data-title="Montant">
                  {{stock.amount}} <small>TND</small>
                </td>

                <td>
                  <div class="d-none d-sm-block">
                    <div class="dropdown">
                      <a
                        class="btn btn-link dropdown float-end text-decoration-none"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i class="bi bi-sliders"></i>
                      </a>

                      <ul
                        class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="dropdownMenuButton2"
                      >
                        <li>
                          <a class="dropdown-item" href="/stocks/{{stock.id}}"
                            ><i class="bi bi-pencil-square"></i> Modiffier</a
                          >
                        </li>

                        <li>
                          <a
                            class="dropdown-item"
                            onclick="sendMailClicked('{{stock.id}}')"
                          >
                            <i class="bi bi-trash text-danger"></i>
                            Supprimer
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

<!-- Modal -->
{% block modal %}
<div
  class="modal fade"
  id="addSalesModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="/stocks" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Ajouter un nouveau Stock
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <div class="row">
              <div class="col-6">
                <label for="recipient-name" class="col-form-label">Date:</label>
                <div class="input-group mb-3">
                  <input
                    name="date"
                    type="date"
                    class="form-control form-control-sm"
                    id="date"
                    max="{{today()}}"
                    value="{{today()}}"
                    required
                  />
                </div>
              </div>
              <div class="col-6">
                <label for="amount" class="col-form-label">Montant:</label>
                <div class="input-group input-group-sm mb-3">
                  <input
                    name="amount"
                    type="number"
                    min="0"
                    step="0.001"
                    class="form-control border-primary"
                    id="amount"
                    required
                  />
                  <span class="input-group-text">TND</span>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea
              name="comment"
              class="form-control"
              id="message-text"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Fermer
          </button>
          <button type="submit" class="btn btn-primary">Sauvegarder</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
