/*  */

@import "https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,600,700";

:root {
  --header-height: 3rem;
  --nav-width: 250px !important;
  --first-color: #224b97;
  --second-color: #3681f0;
  --first-color-light: rgba(255, 255, 255, 0.6);
  --white-color: #fff;
  --body-font: "Ubuntu", sans-serif;
  --normal-font-size: 0.95rem;
  --z-fixed: 100;
}
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
}
body {
  font-family: var(--body-font) !important;
  font-size: var(--normal-font-size);
  transition: 0.5s;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

a {
  text-decoration: none;
}

#top-bar {
  border-bottom: 1px solid #cacaca;
}

.navbar {
  background-color: var(--first-color-light);
}

.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 61px;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  width: var(--nav-width);
  min-width: var(--nav-width);
  max-width: var(--nav-width);

  background-color: var(--first-color);

  transition: 0.5s;
  z-index: var(--z-fixed);
}

.overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 2;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
  display: block;
  opacity: 1;
}

.sidebar-show-btn {
  display: none;
  position: fixed;
  top: 50px;
  z-index: 999;
  background-color: #224b97b0 !important;
  height: 60px;
  width: 15px;
  border-color: #dadada !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#icon-sidebar-show-btn {
  position: absolute;
  margin-left: -7px;
  top: 15px;
}

#main {
  position: fixed;
  left: 250px;
  bottom: 50px;
  top: 61px;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
}

#footer {
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 250px;
  display: block;
  border-top: 1px solid #cfcfcff5;
  z-index: 1;
}

.separator {
  margin: 10px 0px;
  border-bottom: 1px solid #cfcfcfa9;
}

#nav {
  display: grid;
  flex-direction: column;
  word-wrap: normal;
  overflow: hidden;
}

.side {
  color: var(--first-color-light) !important;

  transition: 0.3s;
}
.side:hover {
  color: var(--white-color) !important;
}

.nav_icon {
  font-size: 1.25rem;
}

.link-active {
  color: var(--white-color) !important;
}

.link-active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

@media screen and (max-width: 991px) {
  #main,
  #footer {
    left: 0;
  }

  .sidebar {
    display: none !important;
  }

  .sidebar-show-btn {
    display: inline !important;
  }

  .expand {
    left: 223px;
    background-color: #224b97 !important;
    width: 30px;
  }

  .show-sidebar {
    width: var(--nav-width);
    min-width: var(--nav-width);
    max-width: var(--nav-width);
    transition: ease-in 0.1s;
    display: inline !important;
  }
  .side span {
    display: none !important;
  }
  .show-sidebar .side span {
    display: inline !important;
  }
}
