<div id="document">
  <label for="recipient-name" class="col-form-label">Nummero:</label>
  <div class="input-group mb-3">
    <input
      name="document_number"
      type="text"
      class="form-control"
      id="document_number"
      required
      value=""
    />
  </div>

  <label for="recipient-name" class="col-form-label">Date d'échéance:</label>
  <div class="input-group mb-3">
    <input
      name="due_date"
      type="date"
      class="form-control"
      id="due_date"
      min="{{today()}}"
      required
    />
  </div>

  <label for="recipient-name" class="col-form-label">Documment:</label>
  <div class="input-group mb-3">
    <input name="foto" type="file" class="form-control" id="foto" />
  </div>
</div>
