<div id="document">
  <div class="card">
    <div class="card-header bg-warning">Cheque/Traite</div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <label for="recipient-name" class="col-form-label">Nummero:</label>
          <div class="input-group">
            <input
              name="document_number"
              type="text"
              class="form-control form-control-sm border-primary"
              id="document_number"
              required
              value="{{document_number}}"
              onkeypress="return onlyNumberKey(event)"
            />
          </div>
          <div
            class="alert alert-danger visually-hidden mt-1"
            id="alert"
            role="alert"
          >
            <small>Veuillez saisir uniquement des chiffres</small>
          </div>
        </div>
        <div class="col-6">
          <label for="recipient-name" class="col-form-label"
            >Date d'échéance:</label
          >
          <div class="input-group">
            <input
              name="due_date"
              type="date"
              class="form-control form-control-sm border-primary"
              id="due_date"
              min="{{today()}}"
              value="{{due_date}}"
              required
            />
          </div>
        </div>
      </div>

      <label for="recipient-name" class="col-form-label"> Document: </label>

      <div class="input-group input-group-sm">
        <input
          name="foto"
          type="file"
          class="form-control"
          id="foto"
          accept="image/jpeg,image/png,image/jpeg,application/pdf"
          onchange="checkSize()"
        />
      </div>
      <div style="font-size: 0.65rem">(max 2MB)</div>
      <div
        class="alert alert-danger visually-hidden mt-1"
        id="alertsize"
        role="alert"
      >
        <small>Le fichier doit être inférieur à 2MB.</small>
      </div>
    </div>
  </div>
</div>
