<div class="modal" id="removeSale" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Supprimer le chiffre d'affaire</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Êtes-vous sûr de vouloir supprimer ?</p>
      </div>
      <div class="modal-footer">
        <form id="removeSaleForm" action="{{url}}" method="post">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Non
          </button>
          <button type="submit" class="btn btn-danger">Oui</button>
        </form>
      </div>
    </div>
  </div>
</div>
