{% extends 'base.html' %} {% block content %}

<!--  -->
<div class="row mb-2">
  <div class="col">
    <button
      class="btn btn-success float-end"
      data-bs-toggle="modal"
      data-bs-target="#addCompanyModal"
    >
      + Ajouter
    </button>
  </div>
</div>
<!--  -->

<div class="row mb-2">
  <div class="col-12 col-lg-6 mb-3">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Clients</h5>
      </div>
      <div class="card-body">
        <div class="no-more-tables" style="min-height: 300px">
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Contact</th>
                <th scope="col">Chiffre d'affaire</th>
                <th scope="col">Ajouté le</th>
                <th scope="col">Action</th>
              </tr>
            </thead>

            <tbody>
              {% for company in companies | selectattr('customer',
              "equalto",True) %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td data-title="Nom">
                  {{company.name}}
                  <div class="d-block d-sm-none">
                    <div class="dropdown">
                      <a
                        class="btn btn-link dropdown float-end text-decoration-none"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i class="bi bi-sliders"></i>
                      </a>

                      <ul
                        class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="dropdownMenuButton2"
                      >
                        <li>
                          <a
                            class="dropdown-item"
                            href="/companies/{{company.id}}"
                            ><i class="bi bi-pencil-square"></i> Modiffier</a
                          >
                        </li>

                        <li>
                          <a
                            class="dropdown-item"
                            onclick="sendMailClicked('{{company.id}}')"
                          >
                            <i class="bi bi-trash text-danger"></i>
                            Supprimer
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </td>
                <td data-title="Contact">
                  Email: {{company.email|default("...", true)}}
                  <br />Phone: {{company.phone|default("...", true)}}
                </td>
                <td data-title="Chiffre d'affaire">
                  {{ company.sales | sum(attribute='amount') }} TND
                </td>
                <td data-title="Ajouté l">{{company.createdAt}}</td>
                <td>
                  <div class="d-none d-sm-block">
                    <div class="dropdown">
                      <a
                        class="btn btn-link dropdown float-end text-decoration-none"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i class="bi bi-sliders"></i>
                      </a>

                      <ul
                        class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="dropdownMenuButton2"
                      >
                        <li>
                          <a
                            class="dropdown-item"
                            href="/companies/{{company.id}}"
                            ><i class="bi bi-pencil-square"></i> Modiffier</a
                          >
                        </li>

                        <li>
                          <a
                            class="dropdown-item"
                            onclick="sendMailClicked('{{company.id}}')"
                          >
                            <i class="bi bi-trash text-danger"></i>
                            Supprimer
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Fournisseurs</h5>
      </div>
      <div class="card-body">
        <div class="no-more-tables" style="min-height: 300px">
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>

                <th scope="col">Contact</th>
                <th scope="col">Chiffre d'affaire</th>
                <th scope="col">Ajouté le</th>
                <th scope="col">Action</th>
              </tr>
            </thead>

            <tbody>
              {% for company in companies | selectattr('supplier',
              "equalto",True) %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td data-title="Nom">{{company.name}}</td>

                <td data-title="Contact">
                  Email: {{company.email|default("...", true)}}
                  <br />Phone: {{company.phone|default("...", true)}}
                </td>
                <td data-title="Chiffre d'affaire">
                  {{ company.sales | sum(attribute='amount') }} TND
                </td>
                <td data-title="Ajouté le">{{company.createdAt}}</td>
                <td>
                  <div class="d-none d-sm-block">
                    <div class="dropdown">
                      <a
                        class="btn btn-link dropdown float-end text-decoration-none"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i class="bi bi-sliders"></i>
                      </a>

                      <ul
                        class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="dropdownMenuButton2"
                      >
                        <li>
                          <a
                            class="dropdown-item"
                            href="/companies/{{company.id}}"
                            ><i class="bi bi-pencil-square"></i> Modiffier</a
                          >
                        </li>

                        <li>
                          <a
                            class="dropdown-item"
                            onclick="sendMailClicked('{{company.id}}')"
                          >
                            <i class="bi bi-trash text-danger"></i>
                            Supprimer
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

<!-- modal -->
{% block modal %}
<div
  class="modal fade"
  id="addCompanyModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="/companies" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Ajouter un nouveau Tiers
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <div class="row">
              <div class="col-6">
                <label for="recipient-name" class="col-form-label">Nom:</label>
                <input
                  name="name"
                  id="name"
                  type="text"
                  class="form-control form-control-sm border-primary"
                  required
                />
              </div>
              <div class="col-6">
                <label for="recipient-name" class="col-form-label">Type:</label>
                <select
                  name="company_type"
                  id="company_type"
                  class="form-select form-select-sm"
                  aria-label="Default select example"
                >
                  <option value="0">Client</option>
                  <option value="1">Fournisseur</option>
                  <option value="2">Client+Fournisseur</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <label for="recipient-name" class="col-form-label">Email</label>
                <div class="input-group mb-3">
                  <input
                    name="email"
                    type="email"
                    class="form-control form-control-sm"
                    id="email"
                  />
                </div>
              </div>
              <div class="col-6">
                <label for="amount" class="col-form-label">Phone:</label>
                <div class="input-group mb-3">
                  <input
                    name="phone"
                    type="text"
                    class="form-control form-control-sm"
                    id="phone"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Fermer
          </button>
          <button type="submit" class="btn btn-primary">Sauvegarder</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- remove modal -->
{% with url="/companies/remove", header="le Client/Fournisseur" %}
<!--  -->
{% include 'remove_modal.html' %}
<!--  -->
{% endwith %} {% endblock %}
