{% extends 'base.html' %} {% block content %}
<!--  -->

<div class="card">
  <div class="card-header">Tableau de bord de la trésorerie</div>
  <div class="card-body">
    <div class="mb-3 col col-md-3">
      <form action="/">
        <input
          type="week"
          name="week"
          id="camp-week"
          class="form-control"
          value="{{isocalendar()[0]}}-W{{isocalendar()[1]}}"
          required
        />
      </form>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col"></th>
            {% for i in
            ["Lundi","Mardi","Mercredi","Jeudi","Vendredi","Samedi","Dimanche"]%}
            <th scope="col">{{i}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr class="table-success">
            <th scope="row">Sold Initial de la Tresorerie</th>
            {% for sold in init_sold %}
            <td>{{sold}}</td>
            {% endfor %}
          </tr>
          <tr class="table-success">
            <th scope="row">
              <span
                data-bs-toggle="collapse"
                href="#encaisse"
                role="button"
                aria-expanded="false"
                aria-controls="encaisse"
              >
                (+)
              </span>
              Encaissement
            </th>
            {% for item in caching %}
            <td>{{ item |sum }}</td>
            {% endfor %}
          </tr>
          {% for i in [("Espèce",0),("Chèque",1),("Traite",2),("Virement
          Banquaire",5),("TPE",3),("Ticket Resto",4) ]%}
          <tr class="collapse" id="encaisse">
            <th scope="row">{{i[0]}}</th>
            {% for item in caching %}
            <td>{{ item[i[1]] }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
          <tr class="table-secondary">
            <th scope="row">
              <span
                data-bs-toggle="collapse"
                href="#decaisse"
                role="button"
                aria-expanded="false"
                aria-controls="decaisse"
              >
                (+)
              </span>
              Decaissement
            </th>
            {% for item in debt %}
            <td>{{ item |sum }}</td>
            {% endfor %}
          </tr>
          {% for i in [("Espèce",0),("Chèque",1),("Traite",2),("Virement
          Banquaire",5),("TPE",3),("Ticket Resto",4) ]%}
          <tr class="collapse" id="decaisse">
            <th scope="row">{{i[0]}}</th>
            {% for item in debt %}
            <td>{{ item[i[1]] }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
          <tr class="table-secondary">
            <th scope="row">Solde final de Tresorerie</th>
            {% for sold in end_sold %}
            <td>{{sold}}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
