{% extends 'base.html' %} {% block content %}
<!--  -->

<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col"></th>
            {% for i in
            ["Lundi","Mardi","Mercredi","Jeudi","Vendredi","Samedi","Dimanche"]%}
            <th scope="col">{{i}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr class="table-success">
            <th scope="row">Sold Initial de la Tresorerie</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="table-success">
            <th scope="row">
              <span
                data-bs-toggle="collapse"
                href="#encaisse"
                role="button"
                aria-expanded="false"
                aria-controls="encaisse"
              >
                (+)
              </span>
              Encaissement
            </th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          {% for paymentmethod in paymentmethods%}
          <tr class="collapse" id="encaisse">
            <th scope="row">{{paymentmethod.name}}</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          {% endfor %}
          <tr class="table-secondary">
            <th scope="row">
              <span
                data-bs-toggle="collapse"
                href="#decaisse"
                role="button"
                aria-expanded="false"
                aria-controls="decaisse"
              >
                (+)
              </span>
              Decaissement
            </th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          {% for paymentmethod in paymentmethods%}
          <tr class="collapse" id="decaisse">
            <th scope="row">{{paymentmethod.name}}</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          {% endfor %}
          <tr class="table-secondary">
            <th scope="row">Solde final de Tresorerie</th>
            <td colspan="2"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
