{% extends 'base.html' %} {% block content %}

<!--  -->
<div class="row mb-2">
  <div class="col">
    <div class="btn-group float-end">
      <button
        type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#addSalesModal"
      >
        + Ajouter
      </button>
      <button
        type="button"
        class="btn btn-success dropdown-toggle dropdown-toggle-split"
        id="dropdownMenuReference"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        data-bs-reference="parent"
      >
        <span class="visually-hidden">add new cost type</span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuReference">
        <li>
          <a
            class="dropdown-item"
            data-bs-toggle="modal"
            data-bs-target="#addCostType"
            ><i class="bi bi-plus-circle"></i> Nouveau type de Charge</a
          >
        </li>
        <li>
          <a class="dropdown-item" href="#"
            ><i class="bi bi-filter-circle"></i> Changer une Charge</a
          >
        </li>
        <li><hr class="dropdown-divider" /></li>
        <li>
          <a class="dropdown-item" href="#"
            ><i class="bi bi-dash-circle"></i> Surprimer une Charge</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col">
    <div class="card">
      <div class="card-header"><h5 class="card-title">Charges</h5></div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm table-striped">
            <thead>
              <tr>
                <th scope="col">Nom</th>

                <th scope="col">Mode de Payment</th>
                <th scope="col">Montant</th>
                <th scope="col">Ajouté le</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for cost in costsmappings %}
              <tr>
                <td>{{cost.costsdef.name}}</td>
                <td>
                  {{cost.paymentmethod.name}}
                  <!--  -->
                  {% if cost.paymentmethod_id in [2,3] %}
                  <br />
                  <small style="font-size: 10px"
                    >Nummero: <b> {{cost.document_number | upper}}</b>
                  </small>
                  ,
                  <small class="text-end" style="font-size: 10px"
                    >Échéance le: <b> {{cost.due_date}}</b>
                  </small>
                  ,
                  <!--  -->
                  {% if cost.document_filename != "" %}

                  <a href="/uploads/{{cost.document_filename}}" target="_blank">
                    <i class="bi bi-file-earmark-arrow-down"></i
                  ></a>
                  {% endif %}
                  <!--  -->

                  {% endif %}
                </td>
                <td>{{cost.amount}} <small>TND</small></td>
                <td>{{cost.date}}</td>
                <td>
                  <div class="dropdown me-2">
                    <a
                      class="btn btn-link dropdown float-end text-decoration-none"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      ...
                    </a>

                    <ul
                      class="dropdown-menu dropdown-menu-end"
                      aria-labelledby="dropdownMenuButton2"
                    >
                      <li><a class="dropdown-item" href="#">Afficher</a></li>
                      <li>
                        <a class="dropdown-item" href="#">My Companie 2</a>
                      </li>
                      <li><hr class="dropdown-divider" /></li>
                      <li>
                        <a class="dropdown-item" href="#"
                          >Ajouter une société</a
                        >
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="addSalesModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="/costs" method="post" enctype="multipart/form-data">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Ajouter une nouvelle Charge
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <div class="row">
              <div class="col-6">
                <label for="recipient-name" class="col-form-label">Type:</label>
                <select
                  name="cost_id"
                  class="form-select form-select-sm"
                  aria-label="Default select example"
                  required
                >
                  {% for costsdef in costsdefs %}
                  <option value="{{costsdef.id}}">{{costsdef.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-6">
                <label for="recipient-name" class="col-form-label"
                  >Mode de payment:</label
                >
                <select
                  name="payment_id"
                  id="payment_id"
                  class="form-select form-select-sm"
                  aria-label="Default select example"
                  onchange="ChangePaymentmethod()"
                >
                  {% for payment in paymentmethod %}
                  <option value="{{payment.id}}">{{payment.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <label for="recipient-name" class="col-form-label">Date:</label>
                <div class="input-group mb-3">
                  <input
                    name="date"
                    type="date"
                    class="form-control form-control-sm"
                    id="date"
                    max="{{today()}}"
                    value="{{today()}}"
                    required
                  />
                </div>
              </div>
              <div class="col-6">
                <label for="amount" class="col-form-label">Montant:</label>
                <div class="input-group input-group-sm mb-3">
                  <input
                    name="amount"
                    type="number"
                    min="0"
                    class="form-control f"
                    id="amount"
                    required
                  />
                  <span class="input-group-text">TND</span>
                </div>
              </div>
            </div>

            <!-- document -->
            {% include 'document.html' %}
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea
              name="comment"
              class="form-control"
              id="message-text"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Fermer
          </button>
          <button type="submit" class="btn btn-primary">Sauvegarder</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal new Cost type-->
<div
  class="modal fade"
  id="addCostType"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="/costs_type" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Ajouter un nouveau type de Charge
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Categorie:</label
            >
            <select
              name="fixed"
              class="form-select"
              aria-label="Default select example"
            >
              <option value="1">Charge Fixe</option>
              <option value="0">Charge Variable</option>
            </select>

            <label for="recipient-name" class="col-form-label">Nom:</label>
            <div class="input-group mb-3">
              <input
                name="name"
                type="text"
                class="form-control"
                id="recipient-name"
                required
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Fermer
          </button>
          <button type="submit" class="btn btn-primary">Sauvegarder</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
