<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/x-icon" href="/static/icon-512x512.png" />
    <link rel="manifest" href="/static/manifest.json" />
    <meta name="theme-color" content="#214a80" />
    <link rel="apple-touch-icon" href="/static/icon-512x512.png" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'login.css') }}"
    />

    <title>إ دارة Darat</title>
  </head>
  <body>
    <img src="/static/offline.jpeg" alt="offline" style="width: 100%" />
  </body>
</html>
