<span
  id="sidebar-show-btn"
  class="btn btn-dark sidebar-show-btn btn-sm mt-3 float-end"
  onclick="show_sidebar()"
>
  <i class="bi bi-chevron-double-right" id="icon-sidebar-show-btn"></i>
</span>
<div class="sidebar" id="sidebar">
  <ul class="nav float-start" id="nav">
    <li class="nav-item mt-4 ms-3 me-5">
      <label for="" class="text-light fs-4">Société</label>
      <form action="/change_tenant" method="post">
        <select
          name="tenant_id"
          id="tenant_id"
          class="form-select form-select-sm"
          onchange="this.form.submit()"
        >
          {% for tenantmap in current_user.tenants %}
          <!--  -->
          {% if session["tenant"] == tenantmap.tenant.id %}
          <option value="{{tenantmap.tenant.id}}" selected>
            {{tenantmap.tenant.name}}
          </option>
          {% else %}
          <option value="{{tenantmap.tenant.id}}">
            {{tenantmap.tenant.name}}
          </option>
          {% endif %}
          <!--  -->
          {% endfor %}
        </select>
      </form>
    </li>

    <li class="nav-item mt-4">
      <a
        href="/dashboards/dashboard"
        class="nav-link side {%- if request.path == '/dashboards/dashboard' %} link-active {% endif %} d-flex"
      >
        <i class="nav_icon bi bi-heart-pulse"></i>
        <span class="ms-2 d-none d-md-inline">
          Situation Financiere et Economique
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a
        href="/dashboards/exploit"
        class="nav-link side {%- if request.path == '/dashboards/exploit' %} link-active {% endif %} d-flex"
      >
        <i class="nav_icon bi bi-building"></i>
        <span class="ms-2 d-none d-md-inline">
          Tableau de board d'exploitation
        </span>
      </a>
    </li>

    <li class="nav-item">
      <a
        href="/dashboards/tresor"
        class="nav-link side {%- if request.path == '/dashboards/tresor' %} link-active {% endif %} d-flex"
      >
        <i class="nav_icon bi bi-cash-stack"></i>
        <span class="ms-2 d-none d-md-inline"
          >Tableau de board de Tresorerie</span
        >
      </a>
    </li>

    <li class="nav-item">
      <a
        href="#"
        class="nav-link side {%- if request.path == '/#' %} link-active {% endif %} d-flex"
      >
        <i class="nav_icon bi bi-easel"></i>
        <span class="ms-2 d-none d-md-inline">
          Tableau de board Marketing
        </span>
      </a>
    </li>

    <!-- 

    -->
    <span class="separator"></span>

    <li class="nav-item">
      <a
        href="/sales"
        class="nav-link side ms-3 px-0 align-middle {% if request.path.split('/')[1] == 'sales' %} link-active {% endif %}"
      >
        <i class="nav_icon bi bi-currency-exchange"></i>
        <span class="ms-2">Chiffre d'affaires</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        href="/recovers"
        class="nav-link side ms-3 px-0 align-middle {%- if request.path.split('/')[1] == 'recovers' %} link-active {% endif %}"
      >
        <i class="nav_icon bi bi-shuffle"></i>
        <span class="ms-2">Recouvrements</span>
      </a>
    </li>

    <span class="separator"></span>

    <li class="nav-item">
      <a
        href="/costs"
        class="nav-link side ms-3 px-0 align-middle {%- if request.path.split('/')[1] == 'costs' %} link-active {% endif %}"
      >
        <i class="nav_icon bi bi-bag"></i>
        <span class="ms-2">Charges</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        href="/purchasings"
        class="nav-link side ms-3 px-0 align-middle {%- if request.path.split('/')[1] == 'purchasings' %} link-active {% endif %}"
      >
        <i class="nav_icon bi bi-cart"></i>
        <span class="ms-2">Achats</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        href="/stocks"
        class="nav-link side ms-3 px-0 align-middle {%- if request.path.split('/')[1] == 'stocks' %} link-active {% endif %}"
      >
        <i class="nav_icon bi bi-boxes"></i>
        <span class="ms-2">Stock</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        href="/payments"
        class="nav-link side ms-3 px-0 align-middle {%- if request.path.split('/')[1] == 'payments' %} link-active {% endif %}"
      >
        <i class="nav_icon bi bi-credit-card-2-back"></i>
        <span class="ms-2">Paiement des Dettes</span>
      </a>
    </li>
    <span class="separator"></span>
    <li class="nav-item">
      <a
        href="/reconciliations"
        class="nav-link side ms-3 px-0 align-middle {%- if request.path.split('/')[1] == 'reconciliations' %} link-active {% endif %}"
      >
        <i class="nav_icon bi bi-bank"></i>
        <span class="ms-2">Rapprochement</span>
      </a>
    </li>

    <!--  -->
    <span class="separator"></span>

    <li class="nav-item">
      <a href="#" class="nav-link side ms-3 px-0 align-middle">
        <i class="bi bi-people"></i>
        <span class="ms-2"> Utilisateurs </span>
      </a>
    </li>
    <li class="nav-item">
      <a
        href="/companies"
        class="nav-link side ms-3 px-0 align-middle {%- if request.path.split('/')[1] == 'companies' %} link-active {% endif %}"
      >
        <i class="nav_icon bi bi-journal"></i>
        <span class="ms-2">Clients / Fournisseurs</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link side ms-3 px-0 align-middle">
        <i class="bi bi-bar-chart"></i>
        <span class="ms-2"> Rapports </span>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link side ms-3 px-0 align-middle">
        <i class="bi bi-gear"></i>
        <span class="ms-2 d-none d-sm-inline"> Paramèters </span>
      </a>
    </li>
  </ul>
</div>
